target
.*.swp
.vscode
.idea
xcuserdata
docs/manual/src/internals/api
# The old mdbook outdir
docs/manual/book

examples/app/ios/Generated
examples/app/ios/IOSApp.xcodeproj/project.xcworkspace/xcshareddata/

# gradle filess from the android benchmarks app
fixtures/benchmarks/android/build
fixtures/benchmarks/android/.gradle
