[workspace]
members = [
  "uniffi_bindgen",
  "uniffi_bindgen_kotlin",
  "uniffi_bindgen_python",
  "uniffi_bindgen_swift",
  "uniffi_build",
  "uniffi_macros",
  "uniffi_testing",
  "uniffi",
  "examples/arithmetic",
  "examples/callbacks",
  "examples/geometry",
  "examples/rondpoint",
  "examples/sprites",
  "examples/todolist",
  "examples/custom-types",

  "fixtures/coverall",
  "fixtures/callbacks",

  "fixtures/ext-types/guid",
  "fixtures/ext-types/uniffi-one",
  "fixtures/ext-types/lib",

  # we should roll the above and below up somehow that makes sense...
  "fixtures/external-types/crate-one",
  "fixtures/external-types/crate-two",
  "fixtures/external-types/lib",

  "fixtures/reexport-scaffolding-macro",
  "fixtures/regressions/enum-without-i32-helpers",
  "fixtures/regressions/fully-qualified-types",
  "fixtures/regressions/kotlin-experimental-unsigned-types",
  "fixtures/regressions/cdylib-crate-type-dependency/ffi-crate",
  "fixtures/regressions/cdylib-crate-type-dependency/cdylib-dependency",
  "fixtures/uitests",
  "fixtures/uniffi-fixture-time",
  "fixtures/swift-omit-labels",
]
