[workspace]
members = [
  "uniffi_bindgen",
  "uniffi_build",
  "uniffi_macros",
  "uniffi",
  "examples/arithmetic",
  "examples/callbacks",
  "examples/geometry",
  "examples/rondpoint",
  "examples/sprites",
  "examples/todolist",
  "examples/threadsafe",
  "fixtures/regressions/enum-without-i32-helpers",
  "fixtures/regressions/cdylib-crate-type-dependency/ffi-crate",
  "fixtures/regressions/cdylib-crate-type-dependency/cdylib-dependency",
]
