[workspace]
members = [
  "uniffi_bindgen",
  "uniffi_build",
  "uniffi_core",
  "uniffi_macros",
  "uniffi_meta",
  "uniffi_testing",
  "uniffi",
  "weedle2",

  "examples/arithmetic",
  "examples/callbacks",
  "examples/geometry",
  "examples/rondpoint",
  "examples/sprites",
  "examples/todolist",
  "examples/custom-types",
  "examples/app/uniffi-bindgen-cli",

  "fixtures/benchmarks",
  "fixtures/coverall",
  "fixtures/callbacks",

  "fixtures/ext-types/guid",
  "fixtures/ext-types/uniffi-one",
  "fixtures/ext-types/lib",

  # we should roll the above and below up somehow that makes sense...
  "fixtures/external-types/crate-one",
  "fixtures/external-types/crate-two",
  "fixtures/external-types/lib",

  "fixtures/keywords/kotlin",
  "fixtures/keywords/rust",
  "fixtures/keywords/swift",
  "fixtures/metadata",
  "fixtures/proc-macro",
  "fixtures/reexport-scaffolding-macro",
  "fixtures/regressions/enum-without-i32-helpers",
  "fixtures/regressions/fully-qualified-types",
  "fixtures/regressions/kotlin-experimental-unsigned-types",
  "fixtures/regressions/cdylib-crate-type-dependency/ffi-crate",
  "fixtures/regressions/cdylib-crate-type-dependency/cdylib-dependency",
  "fixtures/regressions/logging-callback-interface",
  "fixtures/regressions/missing-newline",
  "fixtures/regressions/swift-callbacks-omit-labels",
  "fixtures/regressions/swift-dictionary-nesting",
  "fixtures/regressions/unary-result-alias",
  "fixtures/uitests",
  "fixtures/uniffi-fixture-time",
  "fixtures/version-mismatch",
  "fixtures/simple-fns",
  "fixtures/simple-iface",
  "fixtures/swift-omit-labels",
  "fixtures/futures",
  "fixtures/swift-bridging-header-compile",
]

resolver = "2"
