tag-name = "v{{version}}"
dev-version = false
consolidate-commits = true
consolidate-pushes = true

shared-version=true

# Disabling auto pushing for now to avoid accidents (although we can still "accidentally" publish
# to crates.io, so it's not clear this is saving us anything?)
push = false

# Note that some things need to be done exactly once for the workspace.
# This includes updating CHANGELOG.md and creating the .git tag.
# So we arrange for the `uniffi` crate to do this work, and disable it here.
tag = false
# Note that `pre-release-replacements` is also in [uniffi/release.toml](uniffi/release.toml)
