# Build all the things we need for CI

version: 2.1

commands:
  install-mdbook:
    steps:
      - run:
          name: Install mdBook
          command: |
            mkdir -p $HOME/.bin
            pushd $HOME/.bin
            curl -sfSL --retry 5 --retry-delay 10 https://github.com/rust-lang-nursery/mdBook/releases/download/v0.4.2/mdbook-v0.4.2-x86_64-unknown-linux-gnu.tar.gz | tar xz
            echo 'export PATH="$HOME/.bin:$PATH"' >> $BASH_ENV
            popd
orbs:
  gh-pages: sugarshin/gh-pages@0.0.6
jobs:
  Check Rust formatting:
    docker:
      - image: circleci/rust:latest
    resource_class: small
    steps:
      - checkout
      - run: rustup component add rustfmt
      - run: rustfmt --version
      - run: cargo fmt -- --check
  Lint Rust with clippy:
    docker:
      - image: circleci/rust:latest
    resource_class: small
    steps:
      - checkout
      - run: rustup component add clippy
      - run: cargo clippy --version
      - run: cargo clippy --all --all-targets
  Rust and Foreign Language tests:
    docker:
      - image: rfkelly/uniffi-ci:latest
    resource_class: medium
    steps:
      - run: cat ~/.profile >> $BASH_ENV
      - checkout
      - run: cargo test
  Deploy website:
    docker:
      - image: circleci/node:latest
    resource_class: small
    steps:
      - install-mdbook
      - checkout
      - run: mdbook build docs/manual
      - gh-pages/deploy:
          build-dir: docs/manual/book
          ssh-fingerprints: "9d:06:af:45:32:f9:71:b7:57:00:81:7f:70:6b:d1:49"

workflows:
  version: 2
  check-formatting:
    jobs:
      - Check Rust formatting
  clippy:
    jobs:
      - Lint Rust with clippy
  run-tests:
    jobs:
      - Rust and Foreign Language tests
  deploy-website:
    jobs:
      - Deploy website:
          filters:
            branches:
              only: main
