[package]
name = "uniffi_macros"
version = "0.19.2"
authors = ["Firefox Sync Team <sync-team@mozilla.com>"]
description = "a multi-language bindings generator for rust (convenience macros)"
documentation = "https://mozilla.github.io/uniffi-rs"
homepage = "https://mozilla.github.io/uniffi-rs"
repository = "https://github.com/mozilla/uniffi-rs"
license = "MPL-2.0"
edition = "2021"
keywords = ["ffi", "bindgen"]

[lib]
proc-macro = true

[dependencies]
camino = "1.0.8"
extension-trait = "1.0.1"
fs-err = "2.7.0"
glob = "0.3"
once_cell = "1.10.0"
proc-macro2 = "1.0"
quote = "1.0"
serde = "1.0.136"
serde_json = "1.0.79"
syn = { version = "1.0", features = ["extra-traits"] }
tempfile = "3.3.0"
toml = "0.5.9"
uniffi_build = { path = "../uniffi_build", version = "=0.19.2" }
uniffi_meta = { path = "../uniffi_meta", version = "=0.19.2" }

[features]
default = []
# Use the `uniffi_bindgen` from this workspace instead of the one installed on your system.
# You probably only want to enable this feature if you're working on uniffi itself.
builtin-bindgen = ["uniffi_build/builtin-bindgen"]
# Enable extra features that require a nightly compiler:
# * Add the full module path of exported items to FFI metadata instead of just the crate name.
#   This may be used by language backends to generate nested module structures in the future.
nightly = []
