[package]
name = "uniffi"
description = "a multi-language bindings generator for rust (runtime support code)"
documentation = "https://mozilla.github.io/uniffi-rs"
homepage = "https://mozilla.github.io/uniffi-rs"
repository = "https://github.com/mozilla/uniffi-rs"
version = "0.19.0"
authors = ["Firefox Sync Team <sync-team@mozilla.com>"]
license = "MPL-2.0"
edition = "2021"
keywords = ["ffi", "bindgen"]

[dependencies]
# Re-exported dependencies used in generated Rust scaffolding files.
anyhow = "1"
bytes = "1.0"
camino = "1.0.8"
lazy_static = "1.4"
log = "0.4"
# Regular dependencies
cargo_metadata = "0.14"
paste = "1.0"
uniffi_bindgen = { path = "../uniffi_bindgen", optional = true, version = "=0.19.0"}
static_assertions = "1.1.0"

[features]
default = []
# Use the `uniffi_bindgen` from this workspace instead of the one installed on your system.
# You probably only want to enable this feature if you're working on uniffi itself.
builtin-bindgen = ["uniffi_bindgen"]

[dev-dependencies]
trybuild = "1"
