[package]
name = "uniffi_build"
version = "0.1.0"
authors = ["Firefox Sync Team <sync-team@mozilla.com>"]
description = "a multi-language bindings generator for rust (build script helpers)"
documentation = "https://mozilla.github.io/uniffi-rs"
homepage = "https://mozilla.github.io/uniffi-rs"
repository = "https://github.com/mozilla/uniffi-rs"
license = "MPL-2.0"
license-file = "../LICENSE"
edition = "2018"
keywords = ["ffi", "bindgen"]

[dependencies]
cargo_metadata = "0.11"
anyhow = "1"
uniffi_bindgen = { path = "../uniffi_bindgen", optional = true, version = "0.1.0" }

[features]
default = []
# Use the `uniffi_bindgen` from this workspace instead of the one installed on your system.
# You probably only want to enable this feature if you're working on uniffi itself.
builtin-bindgen = ["uniffi_bindgen"]
