[package]
name = "uniffi_bindgen"
version = "0.12.0"
authors = ["Firefox Sync Team <sync-team@mozilla.com>"]
description = "a multi-language bindings generator for rust (codegen and cli tooling)"
documentation = "https://mozilla.github.io/uniffi-rs"
homepage = "https://mozilla.github.io/uniffi-rs"
repository = "https://github.com/mozilla/uniffi-rs"
license = "MPL-2.0"
edition = "2018"
keywords = ["ffi", "bindgen"]

[[bin]]
name = "uniffi-bindgen"
path = "src/main.rs"

[dependencies]
cargo_metadata = "0.13"
weedle = "0.12"
anyhow = "1"
askama = { git = "https://github.com/djc/askama", branch = "main", features = ["config"] }
#askama = { version = "0.10", default-features = false, features = ["config"] }
heck = "0.3"
clap = { version = "2", default-features = false }
serde = "1"
toml = "0.5"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "bindgen_benchmark"
harness = false