[package]
name = "uniffi_bindgen"
version = "0.26.0"
authors = ["Firefox Sync Team <sync-team@mozilla.com>"]
description = "a multi-language bindings generator for rust (codegen and cli tooling)"
documentation = "https://mozilla.github.io/uniffi-rs"
homepage = "https://mozilla.github.io/uniffi-rs"
repository = "https://github.com/mozilla/uniffi-rs"
license = "MPL-2.0"
edition = "2021"
keywords = ["ffi", "bindgen"]
readme = "../README.md"

[dependencies]
anyhow = "1"
askama = { version = "0.12", default-features = false, features = ["config"] }
camino = "1.0.8"
cargo_metadata = "0.15"
fs-err = "2.7.0"
glob = "0.3"
goblin = "0.8"
heck = "0.4"
once_cell = "1.12"
paste = "1.0"
serde = "1"
toml = "0.5"
uniffi_meta = { path = "../uniffi_meta", version = "=0.26.0" }
uniffi_testing = { path = "../uniffi_testing", version = "=0.26.0" }
uniffi_udl = { path = "../uniffi_udl", version = "=0.26.0" }
clap = { version = "4", default-features = false, features = ["std", "derive"], optional = true }
textwrap = "0.16"
