[package]
name = "uniffi_bindgen"
version = "0.19.2"
authors = ["Firefox Sync Team <sync-team@mozilla.com>"]
description = "a multi-language bindings generator for rust (codegen and cli tooling)"
documentation = "https://mozilla.github.io/uniffi-rs"
homepage = "https://mozilla.github.io/uniffi-rs"
repository = "https://github.com/mozilla/uniffi-rs"
license = "MPL-2.0"
edition = "2021"
keywords = ["ffi", "bindgen"]

[[bin]]
name = "uniffi-bindgen"
path = "src/main.rs"

[dependencies]
anyhow = "1"
askama = { version = "0.11", default-features = false, features = ["config"] }
cargo_metadata = "0.14"
camino = "1.0.8"
clap = { version = "~3.1", features = ["cargo", "std", "derive"] }
fs-err = "2.7.0"
heck = "0.4"
lazy_static = "1.4"
paste = "1.0"
serde = "1"
toml = "0.5"
weedle2 = { version = "3.0.0", path = "../weedle2" }
