[package]
name = "uniffi_bindgen"
version = "0.18.0"
authors = ["Firefox Sync Team <sync-team@mozilla.com>"]
description = "a multi-language bindings generator for rust (codegen and cli tooling)"
documentation = "https://mozilla.github.io/uniffi-rs"
homepage = "https://mozilla.github.io/uniffi-rs"
repository = "https://github.com/mozilla/uniffi-rs"
license = "MPL-2.0"
edition = "2018"
keywords = ["ffi", "bindgen"]

[[bin]]
name = "uniffi-bindgen"
path = "src/main.rs"

[dependencies]
cargo_metadata = "0.13"
weedle2 = { version = "2.0.0", path = "../weedle2" }
anyhow = "1"
askama = { version = "0.11", default-features = false, features = ["config"] }
heck = "0.4"
clap = { version = "3.1", features = ["cargo", "std", "derive"] }
paste = "1.0"
serde = "1"
toml = "0.5"
